---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Home">
  <section class="intro-container overflow-hidden">
    <div class="container">
      <div class="grid">
        <div class="image-intro m-6 medium-6 large-4">
          <img
            class="image-intro max-w-12"
            src="./src/assets/img/goldenHour.JPG"
          />
        </div>
        <!-- <div></div> -->
        <div
          class="intro-text small-12 medium-6 bg-primary-100 p-10 large-8 my-auto mx-auto rounded-md"
        >
          <p>
            June Flora Farm is a small regenerative farm near Bloomington IN
            producing bouquets and wholesale cut flowers.
          </p>
          <br />
          <p>
            By centering soil and ecosystem health, regenerative practices build
            habitat and food for creatures aboveground and below!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <!-- <h2 class="margin-16 bottom">Auto Grid</h2> -->
    </div>
    <div class="container text-shadow" data-auto-grid="3">
      <a class="cardlink" href="#">
        <div
          class="cardbackground text-shadow text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500 custom"
          data-animation="fade-in"
          data-animation-delay="0.25s"
        >
          <div class="frosted p-5 rounded-lg">
            <h1 class="card-title text-2xl text-shadow-title">
              <u><strong>Events + Custom Orders</strong></u>
            </h1>
            <br />
            <p class="text-shadow-title">
              Custom bouquets and arrangements for events and special occasions
            </p>
          </div>
        </div>
      </a>
      <a class="cardlink" href="#">
        <div
          class="cardbackground text-shadow text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500 wholesale"
          data-animation="fade-in"
          data-animation-delay="0.25s"
        >
          <div class="frosted p-5 rounded-lg">
            <h1 class="card-title text-2xl text-shadow-title">
              <u><strong>Wholesale</strong></u>
            </h1>
            <br />
            <p class="text-shadow-title">
              Wholesale flowers in bulk for your floral business or large-scale
              event
            </p>
          </div>
        </div>
      </a>

      <a class="cardlink" href="#">
        <div
          class="cardbackground text-shadow text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500 share"
          data-animation="fade-in"
          data-animation-delay="0.25s"
        >
          <div class="frosted p-5 rounded-lg">
            <h1 class="card-title text-2xl text-shadow-title">
              <u><strong> Summer Flower Share</strong></u>
            </h1>
            <br />
            <p class="text-shadow-title">
              Arranged bouquets each week through the summer months
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="container margin-16 top">
      <a href="#" class="button">Tab to me first!</a>&nbsp;
      <a href="#" class="button color-secondary">Then it's my turn</a>
    </div> -->
  </section>
  <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>12 Column Grid</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Sidebar</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Main</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            mollitia alias sunt accusamus reiciendis fuga delectus, repellendus
            molestiae dolore illo iusto eligendi eaque qui hic facilis
            assumenda! Velit, minus, nobis. <strong
              ><a href="#">And lastly tab to me</a>
            </strong>.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            mollitia alias sunt accusamus reiciendis fuga delectus, repellendus
            molestiae dolore illo iusto eligendi eaque qui hic facilis
            assumenda! Velit, minus, nobis.
          </p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .card-title {
    font-family: Uchen;
  }

  a.cardlink:hover {
    box-shadow: 0px 0px 20px hsl(0, 0%, 100%);
    box-shadow: 0px 0px 25px hsl(0, 0%, 100%);
    box-shadow: 0px 0px 30px hsl(0, 0%, 100%);
    box-shadow: 0px 0px 40px hsl(0, 0%, 100%);
  }

  div.cardbackground {
    background-size: cover;
    background-position: 60% 50%;
    height: 100%;
  }

  .wholesale {
    background-image: url("../assets/img/beebalm.jpg");
  }
  .custom {
    background-image: url("../assets/img/bouquets.jpg");
  }
  .share {
    background-image: url("../assets/img/bouquet2.jpg");
  }
  .text-shadow-title {
    color: white;
    text-shadow: 1px 1px 20px black, -1px -1px 10px black;
  }
  .intro-container {
    background-color: #483c32;
  }
  .image-intro {
    border-radius: 10px;
  }
  @media only screen and (max-width: 768px) {
    .image-intro {
      display: none;
    }
    .intro-container {
      background-image: url("./src/assets/img/goldenHour.JPG");
      background-size: contain;
    }
    .intro-text {
      margin: 40px 20px 40px 20px;
    }
  }

  .frosted {
    box-shadow: inset 0 0 2000px rgba(41, 41, 41, 0.8);
    /* filter: blur(10px); */
  }
</style>
