---
import Navigation from "../components/Navigation.astro";
import { SkipLinks } from "accessible-astro-components";
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Flowers</button>
      <ul>
        <li class="submenu-item">
          <a href="/dropdown/subpage1/">Summer Flower Share</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage2/">Wholesale</a>
        </li>
        <li class="submenu-item">
          <a href="/dropdown/subpage3/">Events + Custom Orders</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/blog/">About</a>
    </li>
    <li class="menu-item">
      <a href="/example-page/">Contact</a>
    </li>
  </Navigation>
</header>

<style lang="scss">
  @use "../assets/scss/base/breakpoint" as *;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }

    img {
      max-height: 40px;
    }
  }
</style>
